html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.storyTime {
  padding: 1px;
  background-color: #E4A5D1;
}
.storyBookCharacters {
  padding: 1px;
  background-color: #662d91;
}
#characterNames {
  position: absolute;
  bottom: 0px;
}
